
body{
	background-color: #eeeeee;
  	vertical-align: middle; 
}

.all {
	display:table; padding: 35px;align-content:center;background-color: #ffffff; 
}

.video {
	width:600px;
}

.panel_send{
	float: center; 
}

.contributionPanel {
	float: right; padding: 15px; 
}

.Button{
	height:60px;width:260px;
}

.answer{
	height:80px;width:260px;
}

.definition{
	height:80px;width:260px;
}

.synonymous{
	height:30px;width:260px;
}

.hyperlink{
	height:30px;width:260px;
}

.explanation{
	height:80px;width:260px;
}



.answer_text{
	float: center;
	height:40px;width:600px;
        font-family: Verdana, Geneva, sans-serif;
        font-size:16px
}

.player { 
	float: left;padding: 15px;
}

.Radio{
	float: left;padding: 10px;
	vertical-align: middle
}

h1{
float: center;

}

h2{
float: center;
font-style: italic;
width:294px;
}

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
   max-width: 10px;
}




body {
font-family:verdana;
font-size:15px;
}

a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:70%;
  height:70%;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:65%; 
  height:65%;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}
.close{display:block; text-align:right;}



