
body{
	background-color: #eeeeee;
  	vertical-align: middle; 
}

.all {
	display:table; padding: 35px;align-content:center;background-color: #ffffff; 
}

.panel_send{
	float: center; 
}

.contributionPanel {
	float: right; padding: 15px; 
}

.Button{
	height:40px;width:260px;
}

.answer{
	height:80px;width:260px;
}

.definition{
	height:80px;width:260px;
}

.synonymous{
	height:30px;width:260px;
}

.hyperlink{
	height:30px;width:260px;
}

.explanation{
	height:80px;width:260px;
}



.answer_text{
	float: center;
	height:40px;width:600px;
        font-family: Verdana, Geneva, sans-serif;
        font-size:16px
}

.player { 
	float: left;padding: 15px;
}

.Radio{
	float: left;padding: 10px;
	vertical-align: middle
}

h1{
float: center;

}

h2{
float: center;
font-style: italic;
width:294px;
}

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}





